<%= link_to "Home", "/", data: { e2e:"home_button"} %>
<h1>Login Form</h1>
<%= @status %>
<%= form_with url: sessions_path do |f| %>
  <% if @user.errors.any? %>
    <div>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email, data: { e2e:"email_field"} %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password, data: { e2e:"password_field"} %>
  </div>
  <p>
    <%= f.submit "Login", data: { e2e:"login_submit"} %>
  </p>
<% end %>