<p style="color: green"><%= notice %></p>

<%= render @tag %>

<div>
  <%= link_to "Edit this tag", edit_tag_path(@tag),data: { e2e:"edit_tag"} %> |
  <%= link_to "Back to tags", tags_path,data: { e2e:"back_to_tags"} %>

  <%= button_to "Destroy this tag", @tag, method: :delete, data: {turbo_method: :delete, e2e:"delete_tag"}%>
</div>
